.in[type=text], .in[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.in[type=text]:focus, .in[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form {
    height: 580px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
#err {
    text-align: center;
}

/* Set a style for all buttons */
.butt {
    background-color: #677a7e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.butt:hover {
    opacity:1;
}


/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container1 {
    height: 100%;
    float: right;
    width: 50%;
    margin: 20px 80px 0 0;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.d1 {
    background-color: #677a7e;
    height: 1px;
}
.header {
    color: #677a7e;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.column {
    float: left;
    width: 24.90%;
    padding: 10px; 
}
.column1 {
    float: left;
    width: 49.90%;
    padding: 10px; 
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.b1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #677a7e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.container3 {
  margin-left: 20%;
  text-align: center;
}


.b1:hover, a:hover {
  opacity: 0.7;
}
.ce  {
    margin: 20%;
}
.columns {
    float: left;
    padding: 0;
    margin-top: -100px;
    width: 75%;

}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #010201;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}
.p1 .h1 {
    background-color: #4b4d4a;
    color: white;
    font-size: 25px;
}
.p2 .h2 {
    background-color: #07202d;
    color: white;
    font-size: 25px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.r1 img {
    margin: 20%;
}
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.bg-light {
    background-color: red;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}